{% extends "home/layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block head_css %}
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
<!-- Animate.css -->
<link rel="stylesheet" href="{{ base_url() }}/home/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="{{ base_url() }}/home/css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="{{ base_url() }}/home/css/bootstrap.css">

<!-- Theme style  -->
<link rel="stylesheet" href="{{ base_url() }}/home/css/style.css">
{% endblock %}
{% block head_js %}
<!-- Modernizr JS -->
<script src="{{ base_url() }}/home/js/modernizr-2.6.2.min.js"></script>
{% endblock %}
{% block content %}
<div class="fh5co-loader"></div>

<div id="page">
	<div id="fh5co-aside" style="background-image: url(home/images/image_1.jpg)">
		<div class="overlay"></div>
		<nav role="navigation">
			<ul>
				<li><a href="/"><i class="icon-home"></i></a></li>
			</ul>
		</nav>
		<div class="featured">
			<span>Bio</span>
			<h2>I'm Z . Ping</a></h2>
		</div>
	</div>
	<div id="fh5co-main-content">
		<div class="fh5co-post"> 
			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-7.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-8.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-7.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>

			<div class="fh5co-entry padding">
				<img src="{{ base_url() }}/home/images/project-8.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<div>
					<span class="fh5co-post-date">October 12, 2016</span>
					<h2><a href="/article">How to be an effective web developer</a></h2>
					<p>How two simple exercises changed my life</p>
				</div>
			</div>
			<footer>
				<div>
				&copy; 2016-2017 zhengss.com 版权所有 渝ICP备16003416号-1
				</div>
			</footer>
		</div>
	</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% endblock %}

{% block foot_js %}
<!-- jQuery -->
<script src="{{ base_url() }}/home/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="{{ base_url() }}/home/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="{{ base_url() }}/home/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="{{ base_url() }}/home/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="{{ base_url() }}/home/js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="{{ base_url() }}/home/js/main.js"></script>
{% endblock %}