{% extends "base-layout.twig" %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}
{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/lib/metisMenu/metisMenu.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/admin/css/layout.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/layout/layout.css">
{% endblock %}
{% block head_js %}
    {{ parent() }}
    <script type="text/javascript">
    if(!window.GLOBAL) {
        window.GLOBAL = {};
    }
    if(!GLOBAL.CHANGEPWD_URL) {
        GLOBAL.UID = "{{ 'test' }}";
    }
    </script>
{% endblock %}
{% block dialog %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'admin/pages/header.twig' ignore missing %}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div id="wrapper">

        <div id="sidebar">
            <div class="sidebar-fold">|||</div>
            <div class="sidebar-scope">
                <span class="sidebar-title-icon"></span>
                <span class="sidebar-title-text">用户管理</span>
            </div>
            <ul class="sidebar-trans">
                <li class="sidebar-trans-nav">
                    <a href="">
                        <div class="sidebar-trans-icon">
                            <span></span>
                        </div>
                        <span class="sidebar-title-text">域名</span>
                    </a>
                </li>
                <li class="sidebar-trans-nav">
                    <a href="">
                        <div class="sidebar-trans-icon">
                            <span></span>
                        </div>
                        <span class="sidebar-title-text">域名</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-scope">
                <span class="sidebar-title-icon"></span>
                <span class="sidebar-title-text">文章管理</span>
            </div>
            <div class="sidebar-scope">
                <span class="sidebar-title-icon"></span>
                <span class="sidebar-title-text">菜单管理</span>
            </div>
            <div class="sidebar-scope">
                <span class="sidebar-title-icon"></span>
                <span class="sidebar-title-text">资源管理</span>
            </div>
            <div class="sidebar-scope">
                <span class="sidebar-title-icon"></span>
                <span class="sidebar-title-text">公告管理</span>
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block page_content %}
                <div class="row">
                    <div class="col-lg-12">
                        <span>gfggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</span>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                {% endblock %}
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block foot_js %}
    {% set main_prefix = 'admin-' %}
    {{ parent() }}
{% endblock %}